@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.main {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2.5em;
    color: #007BFF;
}

.content {
    padding: 15px;
}

.formclass {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
}

.formclass .btn {
    width: 100px;
    height: 40px;
    background-color: #47b9ea;
    border: 1px solid #46d5e0;
    color: white;
    font-weight: bold;
    padding: 6px 10px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formclass .btn:hover {
    background-color: #3a9dc7; /* 悬停时颜色变化 */
}

form {
    width: 100%;
}

form + a {
    display: block;
    width: 100px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 18px;
    color: black;
    text-align: center;
    line-height: 35px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: rgba(57, 136, 239, 0.2);
    transition: background-color 0.3s;
}

form + a:hover {
    background-color: rgba(57, 136, 239, 0.4); /* 悬停时变化 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
h2{
	color: black;
}
table th,
table td {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
    background-color: #fff;
}

table th {
    background-color: #007BFF;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2; /* 表格的斑马线效果 */
}

table tr:hover {
    background-color: #e3f2fd; /* 悬停效果 */
}
.btns {
     padding: 10px 15px;
     color: white;
     background-color: #3498db;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 0.3s;
     float: right;
}
.btns:hover {
     background-color: #2980b9;
}
